body{
  background-color:grey;
  color:white;
  margin: 0;
  background-image: url("../img/img.jpg");
 }
 header{
  background: linear-gradient(to bottom, #008080 5%, #408c99 100%);
  text-align: center;
  border-style: solid;
  padding-bottom: 1rem;
 }
 #userName{
  border:3px solid #FFFFFF;
  width: 230px;
  color:#333333;
  padding:3px;
  margin-right:4px;
  margin-bottom:8px;
  font-family:tahoma, arial, sans-serif;
  box-shadow: 0px 3px 20px #FFFFFF;
 }
 content{
  background-color: purple;
 }
h1,h2 {
  font-family: sans-serif;
  font-size: 3rem;
  margin: 0;
}
 .triviaQuestion{
  border-style: solid;
  padding: 2rem;
  border-color: black;
  background: linear-gradient(to bottom, #008080 5%, #408c99 100%);
  border-radius: 2rem;
  display: block;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
#newGameButton{
  border-style: solid;
  padding: 2rem;
  border-color: black;
  background-color: teal;
  border-radius: 2rem;
  display: none;
  font-family: sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  background: linear-gradient(to bottom, #008080 5%, #408c99 100%);
  text-align: center;
}
.circle,.circle2{
  border-style: outset;
  border-radius: 50%;
  padding: 1rem;
  border-width: thick;
  text-align: center;
  line-height: 5rem;
  border-color: #A900FF #008080;
  font-size: 3rem;
  background-color: rgb(36, 24, 72);
  color: white;
 }

span.circle, .circle2 {
    padding: 1.6rem;
    margin: 1.5rem;
}
 .ci.player{
  text-align:right;
 }
 #questions, #playerName{
  font-family: 'Raleway', sans-serif;
  display: block;
  margin: 2rem;
 }
 ul,ol{
  list-style: none;
  padding-left:0;
  margin: 0;

 }

.answer li {
  list-style-type: none;
  border-style: solid;
    border-style: solid;
    padding: 1rem;
    margin: 1rem;
    -moz-box-shadow: inset 0px 1px 0px 0px #276873;
    -webkit-box-shadow: inset 0px 1px 0px 0px #276873;
    box-shadow: inset 0px 1px 0px 0px #276873;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #008080 5%, #408c99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color: #599bb3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #29668f;
    /* display: inline-block; */
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1.5rem;
    padding: 5px 57px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    text-align: center;
}
.answer li:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color:#408c99;
}
.answer li:active {
  position:relative;
  top:1px;
}
#intro {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
#introBackground{
  background-color: #00A2A2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}
#startButton{
    width: 8rem;
    border-radius: 1rem;
    height: 3rem;
    background-color: aqua;
    color: black;
    font-size: 2rem;
}
#result{
  display: none;
  font-size: 1rem
}
@media (min-width: 500px){
  header{
    font-size:2rem;
  }
  .buttonClass{
    font-size: 2rem;
  }
}

 @media (min-width: 700px){
body{
  background-color:grey;
 }
 li {
    padding: 2rem;
    margin: .5rem;
}
.circle{
  border-style: dashed;
  border-radius: 50%;
  text-align: center;
  line-height: 5rem;
  border-color: #A900FF #008080;
 }
 .triviaQuestion {
  font-size: 2rem;
  }
  #result{
  font-size: 2rem
}

}


@media (min-width: 1024px) {
 .list li{
  list-style: none;
  display: inline-block;
  padding: .5rem;
  background: grey;

}
.content{
  text-align: center;
}

}
  @media (min-width: 700px){
  .list li{
  list-style: none;
  display: inline-block;
  padding: 2.5rem;
  background: black;
  color: white;
  text-align: center;
}
.answer li{
  font-size: 2rem;
}
}
@media (min-width: 1024px) {
  .list li {
  list-style: none;
  display: inline-block;
  padding: 5rem;
  background: purple;
  color: green;
  text-align: center;
  font-size: 30px;
  } 
}
