/*
 * Hello!
 * Here is how you would write responsive styles if you chose NOT to use a grid system.
 * If you'd like to use a grid system I'd recommend using one of the following: 
 * 1. http://getskeleton.com/
 * 2. http://neat.bourbon.io/ 
 * 3. http://susy.oddbird.net/
 * When you are writing these styles, remember to write all of your base/mobile styles
 * first.
 * Then write your styles for your next larger "breakpoint" (screen width).
 * Then write your styles for your largest "breakpoint".
 * You can have as many breakpoints defined as you like - most developers use 3 or 4 that correspond with comminly used device-widths that they plan to support.
 * Use the internet as a resource when you need information!
 * See notes below. ***
 */
 body{
  background-color:grey;
  color:white;
  margin: 0;
  background-image: url("../img/img.jpg");
 }
 header{
 	background-color:teal;
 	text-align: center;
 	border-style: solid;

 }
 content{
 	background-color: purple;
 }
h1,h2 {
  font-family: cursive;
}
 .triviaQuestion{
  border-style: solid;
  padding: 2rem;
  border-color: black;
  background-color: teal;
  border-radius: 2rem;
  display: none;
}
.triviaQuestion.active {
	display: block;
	font-family: cursive;
	font-size: 2rem;
}
.circle{
 	border-style: outset;
 	border-radius: 50%;
 	padding: 1rem;
 	border-width: thick;
 	text-align: center;
 	line-height: 5rem;
 	border-color: #A900FF #008080;
 	background-color: rgba(255, 255, 255, 0.14);
  color: white;
 }

span.circle {
    padding: 1.6rem;
    /* height: 19rem; */
    margin: 1.5rem;
}
 .ci.player{
 	text-align:right;
 }
 #questions{
 	font-family: 'Raleway', sans-serif;
 	/* padding-right: 11rem; */
 	/* display: block; */
 	/* float: right; */
 	clear: both;
 	margin: 1rem;
 }
 ul{
 	list-style: none;
 	/* clear: both; */
 }
/*li {
  margin: 0.5em;
}
 l{
 	list-style: ;
 }*/
.answer li {
  /* text-align: center; */
  /* float: left; */
  margin: 0.5em;
  background-color: black;
  border-style: solid;
  padding: 1rem;
  margin: 1rem;
}
.answer li:hover{
	background-color:orange;
}
#intro {
  opacity:    0.9; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}
#startButton{
	  width: 8rem;
    border-radius: 1rem;
    height: 3rem;
    background-color: aqua;
    color: white;
    font-size: 2rem;
}
@media (min-width: 500px){
	header{
		font-size:2rem;
	}
	.buttonClass{
	  font-size: 2rem;
	}
}

 @media (min-width: 700px){
body{
  background-color:grey;
 }
 li {
    padding: 2rem;
    margin: .5rem;
}
.circle{
 	border-style: dashed;
  border-radius: 50%;
 	/*height: 5rem;
  width: 5rem;*/
  text-align: center;
  line-height: 5rem;
  border-color: #A900FF #008080;
 }

}

@media (min-width: 1024px){
  body{background-color:blue;
  }
}
.content{
  text-align: center;
}

.example-style1 {
 /*
  * Styles for mobile size and larger
  * These are your base styles
  * Write these styles first
  */
  color: black;
  background-color: #D3D3D3;
  font-size: 15px;
}
@media (min-width: 700px) {
  .example-style1 {
    /*
     * Styles for tablet size and larger here.
     * Here is where you would overwrite any base styles that you want to change 
     * for this breakpoint.
     * Base styles are inherited here so no need to repeat formerly defined base 
     * properties that will remain unchanged.
     * Write these styles 2nd.
     */
     color: white;
     background-color: black;
     font-size: 25px;
  }
}
@media (min-width: 1024px) {
  .example-style1 {
    /*
     * Styles for desktop size and larger here.
     * Here is where you would overwrite your base and tablet-size styles
     * that you want to change for this breakpoint.
     * Base styles and your 700px breakpoint styles (your tablet styles) are inherited
     * here so no need to repeat formerly defined properties that will remain unchanged.
     * Write these styles 3rd.
     */
     color: green;
     background-color: purple;
     font-size: 35px;
  }
}


.example-style2 {
 /*
  * Styles for mobile size and larger
  * These are your base styles
  * Write these styles first
  */
  color: black;
  font-size: 15px;
}

.list li{
  list-style: none;
  display: inline-block;
  padding: .5rem;
  background: grey;

}
@media (min-width: 700px) {
  .example-style2 {
    /*
     * Styles for tablet size and larger here.
     * Here is where you would overwrite any base styles that you want to change 
     * for this breakpoint.
     * Base styles are inherited here so no need to repeat formerly defined base 
     * properties that will remain unchanged.
     * Write these styles 2nd.
     */
  }
}
  @media (min-width: 700px){.list li{
  list-style: none;
  display: inline-block;
  padding: 2.5rem;
  background: black;
  color: white;
  text-align: center;

}
}
@media (min-width: 1024px) {
  .example-style2 {
    /*
     * Styles for desktop size and larger here.
     * Here is where you would overwrite your base and tablet-size styles
     * that you want to change for this breakpoint.
     * Base styles and your 700px breakpoint styles (your tablet styles) are inherited
     * here so no need to repeat formerly defined properties that will remain unchanged.
     * Write these styles 3rd.
     */
  } 
}
@media (min-width: 1024px) {
  .list li {
    /*
     * Styles for desktop size and larger here.
     * Here is where you would overwrite your base and tablet-size styles
     * that you want to change for this breakpoint.
     * Base styles and your 700px breakpoint styles (your tablet styles) are inherited
     * here so no need to repeat formerly defined properties that will remain unchanged.
     * Write these styles 3rd.
     */

  list-style: none;
  display: inline-block;
  padding: 5rem;
  background: purple;
  color: green;
  text-align: center;
  font-size: 30px;
  } 
}
